<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>
    <title>Receiving data</title>
</head>
<body>
    <p id="data">Waiting for data...</p>
</body>
<head>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.emit('join', {username: 'John', room: 'room1'});
        // Leave a room
        socket.emit('leave', {username: 'John', room: 'room1'});
        // Send a private message
        socket.emit('private_message', {room: 'room1', message: 'Hello, room1!'});
    </script>
</head>
</html>